.content {
  margin: 1em;
  width: 98%;
  height: 95%;
  background-color: white;
}

.add-button {
  background-color: #052f5f;
  color: white;
  display: inline-block;
  padding: 1em;
  margin-top: 2em;
  border: 2px solid white;
  border-radius: 5px;
}

.custom-table {
  padding-top: 1em;
  padding-left: 2em;
  padding-right: 2em;
}

.shadow {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.weight-change {
  font-weight: 400;
}

.my-class .mat-dialog-container {
  height: 400px;
  width: 600px;
}
::ng-deep .mat-dialog-container {
  border-radius: 10px;
  background: white !important;
  color: black !important;
}

::ng-deep .mat-expansion-panel{
  box-shadow: none !important;
  margin: -10px !important;
}
::ng-deep .mat-expansion-panel-header{
  padding-right: 72px !important;
}

